.btn-key {
  margin: 0px 3px;
  font-size: larger;
  background-color: #ff4081;
}

.keyboard.center-items {
  justify-content: center;
  padding: 3px 0px;
  display: flex;
}

.replay {
  float: right;
}